@model TechJobsPersistent.ViewModels.AddJobViewModel

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
    </div>

    <div class="form-group">
        <label>Employer Id</label>
        <select asp-for="EmployerId" asp-items="@Model.Employers"></select>
        <a asp-controller="Home" asp-action="AddJob" asp-route-column="all">All</a>
    </div>

    
    <div class="form-group">
        @foreach (Skill skill in Model.Skills)
        {
            <label for="@skill.Id">@skill.Name</label>
            <input type="checkbox" name="selectedSkills" value="@skill.Id" />
        }
            <a asp-controller="Skill" asp-action="Add">Add new skill</a>
    </div>
    <input type="submit" value="Add Job" />
</form>

